@import "tailwindcss";
@import "../../node_modules/datatables.net-dt/css/dataTables.dataTables.css";

/* Kustomisasi warna Frozen Blue untuk DataTables */
.dataTables_wrapper .dataTables_paginate .paginate_button.current {
    background: #3F597A !important;
    color: white !important;
    border-radius: 10px;
}
